  <section class="job-form-section job-form-section--image">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="job-form-box">
              <h2 class="heading">Logue <span class="accent">com</span> seu email <span class="accent">w1</span>.</h2>
              <form id="job-main-form" method="get" action="#" class="job-main-form">
                <div class="controls">
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="profession">Email</label>
                        <input type="email" id="profession" name="email" placeholder="Email" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="location">senha</label>
                        <input type="text" id="location" name="senha" placeholder="senha" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <a href="/instrucoes"><button type="button" name="submit" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></button></a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>