   <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8"  ng-repeat="p in Perguntas.perguntas track by $index">
            <h3>Pergunta </h3>
            <p><strong>{{p.pergunta}}</strong> </p>
            <span ng-repeat="resposta in p.respostas"><h4>resposta {{resposta.opcao}}</h4>
            <blockquote>
              <p> {{resposta.texto}}</p>
            </blockquote>
            </span>
           
               <div class="row">
                <div class="col-md-12 form-group">
                  <label for="category">Resposta</label>
                  <select id="category" placeholder="Choose category" class="form-control select2"> 
                    <option span ng-repeat="resposta in p.respostas">{{resposta.opcao}}</option>
                  </select>
                </div>
              </div>
            <div class="job-detail__apply-bottom"><a  class="btn btn-primary" ng-click="Perguntas.responder()">Responder</a></div>
          </div>
         
        </div>
      </div>
    </section>