    <section style="background: #fafafa;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="breadcrumbs">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Applicants</li>
              </ul>
            </div>
            <h1 class="heading">Applicants for the <span class="accent">Web designer</span> position</h1>
            <p class="lead text-center">This is the lead paragraph of the article. Pellentesque habitant morbi tristique.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="box applicant">
              <h4>Han Solo</h4><a href="javascript: void();" class="btn btn-default btn-sm"> <i class="fa fa-download"></i>Download CV</a><a href="#" data-toggle="modal" data-target="#contact-modal" class="btn btn-default btn-sm"><i class="fa fa-envelope"></i>Contact </a><a href="javascript: void();" class="btn btn-default btn-sm"> <i class="fa fa-archive"></i>archive</a><a href="#" data-toggle="modal" data-target="#coverletter-modal" class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i>See cover letter</a>
              <p><span class="label label-info">Applied 21/10/2017</span> <span class="label label-success">Contacted 30/12/2017</span></p>
              <p class="intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <div class="image"><img src="img/person-1.jpg" alt="" class="img-responsive img-circle"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box applicant">
              <h4>Luke Skywalker</h4><a href="javascript: void();" class="btn btn-default btn-sm"> <i class="fa fa-download"></i>Download CV</a><a href="#" data-toggle="modal" data-target="#contact-modal" class="btn btn-default btn-sm"><i class="fa fa-envelope"></i>Contact </a><a href="javascript: void();" class="btn btn-default btn-sm"> <i class="fa fa-archive"></i>archive</a><a href="#" data-toggle="modal" data-target="#coverletter-modal" class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i>See cover letter</a>
              <p><span class="label label-info">Applied 22/10/2017</span> <span class="label label-success">Contacted 30/12/2017</span></p>
              <p class="intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <div class="image"><img src="img/person-2.jpg" alt="" class="img-responsive img-circle"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box applicant">
              <h4>Princess Leia</h4><a href="javascript: void();" class="btn btn-default btn-sm"> <i class="fa fa-download"></i>Download CV</a><a href="#" data-toggle="modal" data-target="#contact-modal" class="btn btn-default btn-sm"><i class="fa fa-envelope"></i>Contact </a><a href="javascript: void();" class="btn btn-default btn-sm"> <i class="fa fa-archive"></i>archive</a><a href="#" data-toggle="modal" data-target="#coverletter-modal" class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i>See cover letter</a>
              <p><span class="label label-info">Applied 30/10/2017</span> <span class="label label-success">Contacted 30/12/2017</span></p>
              <p class="intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <div class="image"><img src="img/person-3.jpg" alt="" class="img-responsive img-circle"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box applicant">
              <h4>Jabba Hut</h4><a href="javascript: void();" class="btn btn-default btn-sm"> <i class="fa fa-download"></i>Download CV</a><a href="#" data-toggle="modal" data-target="#contact-modal" class="btn btn-default btn-sm"><i class="fa fa-envelope"></i>Contact </a><a href="javascript: void();" class="btn btn-default btn-sm"> <i class="fa fa-archive"></i>archive</a><a href="#" data-toggle="modal" data-target="#coverletter-modal" class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i>See cover letter</a>
              <p><span class="label label-info">Applied 28/10/2017</span> <span class="label label-success">Contacted 30/12/2017</span></p>
              <p class="intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <div class="image"><img src="img/person-4.jpg" alt="" class="img-responsive img-circle"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="pages">
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
            <p class="text-small text-muted">Some additional info for this screen about validity of the ads, etc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. </p>
            <p class="text-small text-muted">Some additional info for this screen about validity of the ads, etc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. </p>
          </div>
        </div>
      </div>
    </section>
    <!-- *** CONTACT MODAL ***_________________________________________________________
    -->
    <div id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            <h4 id="Login" class="modal-title">Contact applicant</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post">
              <div class="form-group">
                <input type="text" placeholder="Subject" class="form-control">
              </div>
              <div class="form-group">
                <textarea placeholder="Your message" class="form-control"></textarea>
              </div>
              <p class="text-center">
                <button type="button" class="btn btn-primary"><i class="fa fa-envelope"></i> Send</button>
              </p>
            </form>
            <p class="text-center text-muted text-small">Some explanatory text.  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- *** CONTACT MODAL END ***-->
    <!-- *** Cover letter modal ***_________________________________________________________
    -->
    <div id="coverletter-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
            <h4 class="modal-title">Han Solo - Demo Cover letter</h4>
          </div>
          <div class="modal-body">
            <p>Here could be the applicant's cover letter. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.  </p>
            <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.  </p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.  </p>
          </div>
        </div>
      </div>
    </div>
    <!-- *** Cover letter MODAL END ***   -->